# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [7]:
data_link = "./chiplot.tsv"
df = pd.read_csv(data_link, sep = "\t")

In [45]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

In [48]:
chipo = df

### Step 4. See the first 10 entries

In [49]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [50]:
# Solution 1
len(df)

4622

In [51]:
# Solution 2
df.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [52]:
len(df.columns)

5

### Step 7. Print the name of all the columns.

In [53]:
print(df.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

### Step 9. Which was the most-ordered item?

In [54]:
df.item_name.value_counts().head(10)

Chicken Bowl                    726
Chicken Burrito                 553
Chips and Guacamole             479
Steak Burrito                   368
Canned Soft Drink               301
Steak Bowl                      211
Chips                           211
Bottled Water                   162
Chicken Soft Tacos              115
Chips and Fresh Tomato Salsa    110
Name: item_name, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [55]:
df.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [63]:
c = chipo.groupby("choice_description").sum().sort_values(by="quantity",ascending=False)

c.head()

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42

### Step 12. How many items were orderd in total?

In [64]:
id(df)

2397364745792

In [65]:
id(chipo)

2397364745792

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [66]:
df.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [68]:
df.item_price=df.item_price.map(lambda x:float(x[1:]))

#### Step 13.c. Check the item price type

In [69]:
df.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [86]:
revenue_each = df.quantity * df.item_price
revenue_total = revenue_each.sum()
print("The revenue is :- $",revenue_total,sep="")

The revenue is :- $39237.02

### Step 15. How many orders were made in the period?

In [112]:
total_order = df.order_id.value_counts().count()
total_order

1834

### Step 16. What is the average revenue amount per order?

In [114]:
# Solution 1

average_per_order = revenue_total / total_order

print("average revenue per order is :-",average_per_order)

average revenue per order is :- 21.39423118865867

In [117]:
# Solution 2

average_per_order1 =  df.groupby('order_id').sum().mean()
average_per_order1

quantity       2.711014
item_price    18.811429
dtype: float64

### Step 17. How many different items are sold?

In [120]:
len(df.item_name.value_counts())

50